.Tag
  font-weight 400
  margin .2em
  border-radius: 1rem
  font-size 13px

  padding 0 .8rem

  color #FFF
  background $clr_alien

  //FIX ellipsis
  height 1.5rem
  line-height 1.5rem
  // display: grid;
  // align-items: center;
  // textOverflow()
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;



  &.green
    background $clr_drive

  // С точкой
  &.clicked
    display: flex
    cursor pointer
    padding-left .6rem
    &:before
      content: '●\00a0'; //'•' // ●
      color: rgba(#FFF, .2);
      font-size 1.5em
      line-height 22px
  &.active
    background $clr_rocky
    &:before
      color: #FFF !important



.TAB
  user-select none
  margin-right 1.6rem
  opacity .72
  white-space: nowrap;

  line-height: 1.25;
  font-weight 500
  &.nuxt-link-exact-active
  &.activeTab
    opacity 1
    &:before
      width: 100%;
  sup
    margin-left .3em
    color $clr_rocky

