
.label
  cursor pointer
  user-select: none;

.w100
  width 100%

input,
textarea,
select
  appearance: none;
  font-weight: 500;
  font: caption;
  outline 0
  color rgba($clr_titanic,0.72)
  background rgba($clr_rocky, 0.08) // $clr_alien //$clr_rocky
  border-radius: 8px;
  border 0
  &:hover
    background rgba(#6692EA, 0.08)
    color rgba($clr_titanic,0.56)
  &:focus
    background rgba(#477EF0, 0.08)

input //:not([type=radio]):not([type=checkbox]),
select
  height 40px
  padding 0 1rem


textarea
  padding 1rem
  height 6rem
  resize: vertical;

// https://moderncss.dev/custom-select-styles-with-pure-css/
select
  padding-right: 40px!important;
  cursor: pointer;
  background rgba($clr_rocky, 0.08) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38' height='24' viewBox='0 0 24 24' fill='none' stroke='cornflowerblue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9' /></svg>") 100% no-repeat;
  &:hover
    // background rgba(#6692EA, 0.08) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38' height='24' viewBox='0 0 24 24' fill='none' stroke='cornflowerblue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9' /></svg>") 100% no-repeat;
    color rgba($clr_titanic,0.56)
  &:focus
    background-color rgba(#477EF0, 0.08)
    // background rgba(#477EF0, 0.08) url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='38' height='24' viewBox='0 0 24 24' fill='none' stroke='cornflowerblue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9' /></svg>") 100% no-repeat;





$clr ?= $clr_rocky // $clr_rush //#2196f3;
$size = 20px
input[type="checkbox"],
input[type="radio"]
  //reset base input
  padding 0
  border: 2px solid $clr_rocky //!important
  background #FFF

  // appearance: none;

  // чтоб не плющилось
  display: inline-table;

  
  cursor pointer
  height: $size
  width: $size //!important

  vertical-align: sub //text-top
  // margin: 0 .5em
  &:not(:checked) 
    border-color lighten($clr_rocky, 32%)
  &:checked
    background $clr_rocky
    animation bounce 0.3s
@keyframes bounce
  0%,100%
    transform: scale(1);
  50%
    transform: scale(0.7);
//checked: background-image
input[type=checkbox]
  border-radius: .2em
  &:checked
    // background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke-width='3' stroke='white' d='M3,7 L7,11 L13,4'/></svg>")
    background url("sprite/svg/voting_checkbox-selected.svg") no-repeat center, $clr_rocky
    background-position-y 3px
input[type=radio]
  border-radius: 50%
  &:checked
    background-image url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><circle cx='8' cy='8' r='4' fill='white'/></svg>")
