scrollableArea()
  // height 100%
  overflow-y auto
  // overflow-y: scroll;
  -webkit-overflow-scrolling touch
  // хром, сафари
  &::-webkit-scrollbar
    width 0
  // ie 10+
  &
    -ms-overflow-style none





.Card
  background-color #FFF
  border-radius: 12px;
  padding 1em

  // position relative
  // z-index 10