@import '_@vars';
//@import '_@Utilities';
@import '_form__'
@import '_form__btn'
// @import '_common';
@import '_font_Golos';
@import '_el';
@import '_ant-restyle';



 :root
  scroll-behavior: smooth;
  min-width: 320px;
  // background #000
.text_13px
  font-size 13px
.text_black
  color: $clr_titanic
body
  background: $clr_gladiator
  font-family: 'Golos Text', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed
  // color $clr_titanic
  // background #FFF

