

// @import '_vars';
@import '_@Utilities';
// @import '_common';

body
  background: #091F52
.app-main-sidebar-aside
  padding: 32px
  width 207px
  &__title
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
.app-main-sidebar-aside__nav
  margin-top: 40px
.app-content-part
  background: #F6F9FE;
  border-radius: 48px 0px 0px 0px;
  width 100%
  min-height 100vh
