@import '_vars';
//@import '_@Utilities';
@import '_form'
// @import '_common';
@import '_font_Golos';
@import '_el';



 :root
  scroll-behavior: smooth;
  min-width: 320px;
  // background #000

body

  background: #091F52

  font-family: 'Golos Text', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed
  // color $clr_titanic
  // background #FFF

